<div class="row">
  <div class="col-md-12">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: aliceblue" >
<div class="navbar-left">
          <a class="navbar-brand" routerLink="../"><img src="assets/eart.png"
            style="width: 40px;"> Go-Amigo</a>
            </div>

<div class="navbar-nav ml-auto">
          <ul class="nav navbar-nav" routerLinkActive="active" style="float: right;">
            
            <li class="nav-item"><a class="nav-link" [routerLink]="['/search']">Search</a></li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['/plantrip']">Plan Trip</a></li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/mytrips']">My Trips</a>
              </li> 
            <li class="nav-item mr-sm-2"><a class="nav-link" [routerLink]="['/login']"> Logout</a></li>
             
          </ul>
        </div>
      </nav>
  
     </div>
     </div>


